.env
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv-analysis/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
models/*.joblib
!models/.gitkeep
!models/*.metrics.json
airflow/logs/
airflow/airflow.db
*.log
.DS_Store
producer/sample_dataset/
analysis/cache/
dbt_fraud/target/
dbt_fraud/logs/
dbt_fraud/profiles.yml
*.zip
chart_template/